<a href="https://colab.research.google.com/github/junshenlye/HDB_Resale_Price_Analysis/blob/main/EGD351_D2_HDB_Resale_Price_Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
price1999 = pd.read_csv('/content/drive/MyDrive/EGD351(Project Folder)/Cleaned Datasets/Clean1990-1999.csv')
price2012 = pd.read_csv('/content/drive/MyDrive/EGD351(Project Folder)/Cleaned Datasets/clean2000-2012.csv')
price2014 = pd.read_csv('/content/drive/MyDrive/EGD351(Project Folder)/Cleaned Datasets/clean2012-2014.csv')
price2016 = pd.read_csv('/content/drive/MyDrive/EGD351(Project Folder)/Cleaned Datasets/cleaned 2015-2016.csv')
price2017 = pd.read_csv('/content/drive/MyDrive/EGD351(Project Folder)/Cleaned Datasets/clean 2017 .csv')
cpi = pd.read_csv('/content/drive/MyDrive/EGD351(Project Folder)/Cleaned Datasets/clean cpi data.csv')

In [ ]:
#Merging Datasets
total_prices = pd.concat([price1999, price2012, price2014], sort=False)
total_prices = pd.concat([total_prices, price2016, price2017], axis=0, ignore_index=True, sort=False)

#Converting 'month' column into machine datetime
total_prices['month'] = pd.to_datetime(total_prices['month']) # to datetime
total_prices.info()
total_prices.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887082 entries, 0 to 887081
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                887082 non-null  datetime64[ns]
 1   town                 887082 non-null  object
 2   flat_type            887082 non-null  object
 3   block                887082 non-null  object
 4   street_name          887082 non-null  object
 5   storey_range         887082 non-null  object
 6   floor_area_sqm       887082 non-null  float64
 7   flat_model           887082 non-null  object
 8   lease_commence_date  887082 non-null  int64
 9   remaining_lease      887082 non-null  int64
 10  resale_price         887082 non-null  float64
 11  sale_year            704520 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 81.2+ MB

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,sale_year
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,86,9000.0,1990.0
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,86,6000.0,1990.0
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,86,8000.0,1990.0
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,86,6000.0,1990.0
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,85,47200.0,1990.0

In [ ]:
#Rounding every tx sale date to the 1st of the month
total_prices["month"] = total_prices["month"].astype("datetime64[M]")

In [ ]:
#Dropping 'sale_year' column
total_prices.drop('sale_year', inplace=True, axis=1)
total_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887082 entries, 0 to 887081
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                887082 non-null  datetime64[ns]
 1   town                 887082 non-null  object
 2   flat_type            887082 non-null  object
 3   block                887082 non-null  object
 4   street_name          887082 non-null  object
 5   storey_range         887082 non-null  object
 6   floor_area_sqm       887082 non-null  float64
 7   flat_model           887082 non-null  object
 8   lease_commence_date  887082 non-null  int64
 9   remaining_lease      887082 non-null  int64
 10  resale_price         887082 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 74.4+ MB

In [ ]:
total_prices.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
remaining_lease        0
resale_price           0
dtype: int64

In [ ]:
#Dropping 'block' column
total_prices.drop('block', inplace=True, axis=1)
total_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887082 entries, 0 to 887081
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                887082 non-null  datetime64[ns]
 1   town                 887082 non-null  object
 2   flat_type            887082 non-null  object
 3   street_name          887082 non-null  object
 4   storey_range         887082 non-null  object
 5   floor_area_sqm       887082 non-null  float64
 6   flat_model           887082 non-null  object
 7   lease_commence_date  887082 non-null  int64
 8   remaining_lease      887082 non-null  int64
 9   resale_price         887082 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 67.7+ MB

In [ ]:
#Accounting for all years entry
total_prices['month'].dt.year.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023])

In [ ]:
# Clean flat type
total_prices['flat_type'] = total_prices['flat_type'].str.replace('MULTI-GENERATION', 'MULTI GENERATION')
total_prices['flat_type'].unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION'], dtype=object)

In [ ]:
# Rename flat model duplicates
replace_values = {'NEW GENERATION':'New Generation', 'SIMPLIFIED':'Simplified', 'STANDARD':'Standard', 'MODEL A-MAISONETTE':'Maisonette', 'MULTI GENERATION':'Multi Generation', 'IMPROVED-MAISONETTE':'Executive Maisonette', 'Improved-Maisonette':'Executive Maisonette', 'Premium Maisonette':'Executive Maisonette', '2-ROOM':'2-room', 'MODEL A':'Model A', 'MAISONETTE':'Maisonette', 'Model A-Maisonette':'Maisonette', 'IMPROVED':'Improved', 'TERRACE':'Terrace', 'PREMIUM APARTMENT':'Premium Apartment', 'Premium Apartment Loft':'Premium Apartment', 'APARTMENT':'Apartment', 'Type S1':'Type S1S2', 'Type S2':'Type S1S2'}

total_prices = total_prices.replace({'flat_model': replace_values})

total_prices['flat_model'].value_counts()

Model A                 249495
Improved                231754
New Generation          184489
Simplified               56236
Premium Apartment        43220
Standard                 41656
Apartment                33702
Maisonette               30579
Model A2                  9738
DBSS                      2915
Adjoined flat             1194
Terrace                    682
Type S1S2                  597
Multi Generation           536
Executive Maisonette       206
2-room                      78
3Gen                         5
Name: flat_model, dtype: int64

In [ ]:
#Checking storey_range entries
total_prices['storey_range'].unique()

array(['10 TO 12', '04 TO 06', '07 TO 09', '01 TO 03', '13 TO 15',
       '19 TO 21', '16 TO 18', '25 TO 27', '22 TO 24', '28 TO 30',
       '31 TO 33', '40 TO 42', '37 TO 39', '34 TO 36', '06 TO 10',
       '01 TO 05', '11 TO 15', '16 TO 20', '21 TO 25', '26 TO 30',
       '36 TO 40', '31 TO 35', '46 TO 48', '43 TO 45', '49 TO 51'],
      dtype=object)

In [ ]:
#Checking town entries
total_prices['town'].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG', 'CLEMENTI',
       'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'QUEENSTOWN', 'SENGKANG',
       'SERANGOON', 'TAMPINES', 'TOA PAYOH', 'WOODLANDS', 'YISHUN',
       'LIM CHU KANG', 'SEMBAWANG', 'BUKIT PANJANG', 'PASIR RIS',
       'PUNGGOL'], dtype=object)

In [ ]:
# Compute Resale Price Adjusted for Inflation Using Consumer Price Index for Housing & Utilities
# https://www.singstat.gov.sg/find-data/search-by-theme/economy/total_prices-and-price-indices/latest-data
cpi['month'] = pd.to_datetime(cpi['month']) # to datetime

total_prices = total_prices.merge(cpi, on='month', how='left')

total_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887082 entries, 0 to 887081
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                887082 non-null  datetime64[ns]
 1   town                 887082 non-null  object
 2   flat_type            887082 non-null  object
 3   street_name          887082 non-null  object
 4   storey_range         887082 non-null  object
 5   floor_area_sqm       887082 non-null  float64
 6   flat_model           887082 non-null  object
 7   lease_commence_date  887082 non-null  int64
 8   remaining_lease      887082 non-null  int64
 9   resale_price         887082 non-null  float64
 10  cpi                  885089 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 81.2+ MB

In [ ]:
total_prices["real_price"] = (total_prices["resale_price"] / total_prices["cpi"]) * 100
total_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887082 entries, 0 to 887081
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                887082 non-null  datetime64[ns]
 1   town                 887082 non-null  object
 2   flat_type            887082 non-null  object
 3   street_name          887082 non-null  object
 4   storey_range         887082 non-null  object
 5   floor_area_sqm       887082 non-null  float64
 6   flat_model           887082 non-null  object
 7   lease_commence_date  887082 non-null  int64
 8   remaining_lease      887082 non-null  int64
 9   resale_price         887082 non-null  float64
 10  cpi                  885089 non-null  float64
 11  real_price           885089 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 88.0+ MB

In [ ]:
#Rounding off real_price value to 2 decimal places
total_prices['real_price'] = total_prices['real_price'].round(2)
total_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887082 entries, 0 to 887081
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                887082 non-null  datetime64[ns]
 1   town                 887082 non-null  object
 2   flat_type            887082 non-null  object
 3   street_name          887082 non-null  object
 4   storey_range         887082 non-null  object
 5   floor_area_sqm       887082 non-null  float64
 6   flat_model           887082 non-null  object
 7   lease_commence_date  887082 non-null  int64
 8   remaining_lease      887082 non-null  int64
 9   resale_price         887082 non-null  float64
 10  cpi                  885089 non-null  float64
 11  real_price           885089 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 88.0+ MB

In [ ]:
#Exporting Final Dataset out for PowerBi
total_prices.to_csv('total_prices.csv') # set file name
total_prices.to_csv('/content/drive/MyDrive/EGD351(Project Folder)/total_prices.csv') # location of the exported file